

<h1>Product List</h1>
<div class="grid">
    <div class="main-row">
        <div class="right-column">
            <app-auto-complete [options]="options" [title]="'Search Product'" [placeholder]="'Search Product'" (NodeSelected)="selectedValue($event)" ></app-auto-complete>
            <button mat-raised-button (click)="openProductForm()">Add New</button>
            <div *ngIf="addNew" ><app-product-new (ProductCreated)="productCreated($event)" ></app-product-new></div>

            <app-product *ngFor="let product of products" [product]="product" (ProductDeleted)="deleteProduct($event)" ></app-product>
        </div>
        <div class="left-column">

            <div *ngFor="let product of products  | myfilter : 'edit': true "><app-product-details [product]="product" ></app-product-details></div>
        </div>
<!-- <button mat-raised-button (click)="sortListByDates()">Sort By Date</button> -->

</div>
</div>